# Ignore all .class files
*.class
Notes.java
05.Patterns(P-1) 
06.Functions & Methods 
07.Patterns(P-2) 
08.Arrays(P-1) 
09.Arrays(P-2) 
10.Basic Sorting Algorithms 
11. 2D Arrays 
12. Strings 
13.Bit Manipulation 
14.Object Oriented Programming(OPP) 
15.Recursion Basics(P-1) 
16.Recursion Basics(P-2) 
17.Divide & Conquer 
18. Time and Space Complexity 
19. Backtracking 
20. Array Lists 
21. Linked Lists(P-1) 
22. Linked Lists(P-2)