# Ignore all .class files
*.class
Notes.java
06.Functions & Methods 
07.Patterns(P-2) 
08.Arrays(P-1) 
09.Arrays(P-2) 
10.Basic Sorting Algorithms 
11. 2D Arrays 
12. Strings 
13.Bit Manipulation 
14.Object Oriented Programming(OPP) 
15.Recursion Basics(P-1) 
16.Recursion Basics(P-2) 
17.Divide & Conquer 
18. Time and Space Complexity 
19. Backtracking 
20. Array Lists 
21. Linked Lists(P-1) 
22. Linked Lists(P-2)
 23. Stacks (P-1) 
 24. Stacks (P-2) 
 25. Queues 
 26. Greedy Algorithms 
 27. Binary Trees(P-1) 
 28. Binary Tress(P-2) 
 29. Binary Trees(P-3) 
 30. Binary Search Trees(P-1) 
 31. Binary Search Trees(P-2) 
 32.Heaps 
 33. Hashing 
 34. Tries 
 35. Graphs(P-1) 
 36. Graphs(P-2) 
 37. Graphs(P-3) 
 38. Graphs(P-4) 
 39. Graphs(P-5) 
 40.Graphs - Supplemental 
 41. DP (P-1) 
 42. DP(p-2) 
 43. DP (P-3) 
 44. DP (P-4) 
 45. DP(P-5) 
 46. DP (P-6)
 47. Segment Trees